body {
  background-color: rgba(0, 0, 0, 0.7);
}

/* ヘッダー部分 */
header {
  width: 100%;
  color: white;
}

.logo {
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-top: 20px;
}

.left-logo {
  background-color: blue;
  width: 220px;
}

.left-logo > .sub-logo {
  font-size: 24px;
  margin: 0;
  margin-top: 5px;
}

.left-logo > .main-logo {
  font-size: 55px;
  margin: 0;
}

.right-logo {
  line-height: 120px;
}

.right-logo > .main-logo {
  height: 30px;
  font-size: 28px;
  margin: 0;
}

.right-logo > .sub-logo {
  height: 17px;
  font-size: 15px;
  text-align: center;
  margin: 0;
}
