body {
  background-color: rgba(0, 0, 0, 0.7);
}

/* ヘッダー部分 */
header {
  width: 100%;
  color: white;
}

.logo {
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-top: 20px;
}

.left-logo {
  background-color: blue;
  width: 220px;
}

.left-logo > .sub-logo {
  font-size: 24px;
  margin: 0;
  margin-top: 5px;
}

.left-logo > .main-logo {
  font-size: 55px;
  margin: 0;
}

.right-logo {
  line-height: 120px;
}

.right-logo > .main-logo {
  height: 30px;
  font-size: 28px;
  margin: 0;
}

.right-logo > .sub-logo {
  height: 17px;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

/* ナビ部分 */
nav {
  width: 100%;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 28px;
}

.menu > li {
  width: 25%;
  height: 100%;
  line-height: 28px;
}

.menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* トップ部分 */
.top {
  background-image: url(../img/bike1.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
}

.top > .content {
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.top > .content > .space {
  padding-top: 50px;
}

.top > .content > h2 {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.top > .content > h1 {
  color: blue;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

.top > .content > p {
  color: white;
  margin: 0;
  text-align: center;
}

/* 紹介部分 */
.info {
  margin-top: 16px;
  width: 100%;
  height: 400px;
  display: flex;
}

.bike-info {
  width: 25%;
  height: 100%;
}

img {
  width: 95%;
  height: 60%;
  margin: 0 2.5%;
}

.txt {
  width: 80%;
  height: 40%;
  margin: 0 10%;
}

.txt > h1 {
  margin: 10px 10px 0;
  color: white;
  text-align: center;
}

.txt > h2 {
  margin: 3px;
  color: blue;
  text-align: center;
}

.txt > p {
  margin: 0;
  color: white;
  text-align: center;
}

/* スペック部分 */
.feature {
  width: 100%;
  height: 330px;
  background-color: white;
  display: flex;
}

.left-feature {
  width: 16%;
  margin: 15px;
  padding: 10px;
  background-color: blue;
  text-align: center;
}

.feature-list {
  display: flex;
}

.feature-list > ul > li {
  font-size: 12px;
}

.right-feature > h3 {
  width: 150px;
  margin: 0;
  margin-left: auto;
  font-size: 12px;
}


/* フッター部分 */
footer > a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100px;
  margin: 10px auto 5px;
  text-align: center;
}

footer > a:hover {
  background-color: rgba(0, 0, 0, 1);
}

footer > h1 {
  font-size: 12px;
  color: white;
  font-weight: normal;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
